Variables

Variables are fundamental elements in programming used to store data that can be referrenced and manipulated in a program. In Pyhton , varibales are created when you assign a value to them, and they do not need explicit to reserve memory space. The Declaration happens automatically when you assign a value to a variable.

In [1]:
a=100

In [2]:
## Declaring and Assigning a variables

age=25
height=5.9
name="Omkar"
is_student=True


print("age :",age)
print("Height :", height)
print("Name :", name)

age : 25
Height : 5.9
Name : Omkar

In [3]:
## Naming Conventations
## Varible name should be descriptive
## They must start with a letter or an '_'  and contain letter, number and uderscores
## Varibles names are case sensitive

#Valid variable name
first_name="Omkar"
last_name="Dolas"

In [6]:
# Invalid variable names
# 2age=25
# first-name="Omkar"
# @name="Omkar"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3587849715.py, line 4)

In [8]:
## case Sensitivty
name="Omkar"
Name="Dolas"

name==Name

False

In [9]:
## Understanding Varible Types
## python is dynamically typed,type of variable is determined at runtime
age=25 # Int
height=5.9 #float
name="Omkar" #str
is_student=True # bool

print(type(Name))

<class 'str'>

In [13]:
## Type checking and conversion
type(height)
age=25
print(type(age))
# Type Conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [15]:
age='25'
print(type(int(age)))

<class 'int'>

In [ ]:
## we cannot covert str to int
name="Omkar"
int(name)
print(type(str(name)))

ValueError: invalid literal for int() with base 10: 'Omkar'

In [23]:
height=5.9

print(type(height))
float(int(height))

<class 'float'>

5.0

In [27]:
## Dynamic Typing
## Pyhton allows type of varible to change as the program executes
var=10
print(var,type(var))
var="Hello"
print(var, type(var))
var=3.1
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.1 <class 'float'>

In [30]:
## input 

age=int(input("give me a value"))
print(age, type(age))

25 <class 'int'>

In [33]:
## calculator

num1=float(input("Enetr a first Number :"))
num2=float(input("Enetr a Second Number :"))

sum=num1+num2
diff=num1-num2
product = num1*num2
quotient= num1/num2

print("Sum :", sum)
print("diff :", diff)
print("product :", product)
print("quotient:", quotient)

Sum : 15.0
diff : -5.0
product : 50.0
quotient: 0.5