1.Creating list
2.Accesing list elements
3.modifying list elements
4.list methods
5.slicing list
6.iterating a list
7.list over list
8.list comprehensions
9.Nested Lists
10.Practical Examples and common Errors

In [1]:
## List are ordered, Mutable collections of items 
## They can Contain items of different data types.

lst=[]
print(type(lst))

<class 'list'>

In [2]:
name=["Omkar","Jack","jacob",1,2,3,4]
print(name)

['Omkar', 'Jack', 'jacob', 1, 2, 3, 4]

In [4]:
mixed_list=[1,"Omkar",3.14,True]
print(mixed_list)

[1, 'Omkar', 3.14, True]

In [25]:
## Accesing List Items.
fruits=["Apple","Banana","Kiwi","Cherry","Mango"]
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-2]) # - takes indexing in reverse order
print(fruits[1:])
print(fruits[1:3]) # till 3rd index all elements are printed but not 3rd one 
print(fruits[-1:-3])

Apple
Kiwi
Mango
Cherry
['Banana', 'Kiwi', 'Cherry', 'Mango']
['Banana', 'Kiwi']
[]

In [28]:
## Modifying the list elements
fruits[1:]="Watermelon"
fruits

['Apple', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [31]:
fruits=["Apple","Banana","Kiwi","Cherry","Mango"]
## List Methods

fruits.append("Orange") ## Add item to end
fruits

['Apple', 'Banana', 'Kiwi', 'Cherry', 'Mango', 'Orange']

In [33]:
## Add elements at specific index
fruits.insert(1,"watermelon")
fruits

['Apple', 'watermelon', 'Banana', 'Kiwi', 'Cherry', 'Mango', 'Orange']

In [34]:
fruits.remove("Banana")# remove first occurance of items

In [35]:
fruits

['Apple', 'watermelon', 'Kiwi', 'Cherry', 'Mango', 'Orange']

In [50]:


fruits=["Apple","Banana","Kiwi","Cherry","Mango","Gavua"]
## remove and return the last
Popped_fruits=fruits.pop()
Popped_fruits
fruits

['Apple', 'Banana', 'Kiwi', 'Cherry', 'Mango']

In [51]:
index=fruits.index("Cherry")
print(index)

3

In [54]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

2

In [56]:
fruits.sort() ## This will sort the list in ascending order
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango', 'banana', 'banana']

In [57]:
fruits.reverse()
fruits

['banana', 'banana', 'Mango', 'Kiwi', 'Cherry', 'Banana', 'Apple']

In [58]:
fruits.clear()
fruits

[]

In [73]:
## Slicing list
num=[1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])# step 
print(num[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
num[::3]

[1, 4, 7, 10]

In [75]:
num[::-2]

[10, 8, 6, 4, 2]

In [76]:
## Iterating over list
for num in num:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [84]:
## Iterating with index

num=[1,2,3,4,5,6,7,8,9,10]  # Example of an iterable
for index, nums in enumerate(num):
    print(index,nums)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [86]:

lst=[]
for x in range(10):
    lst.append(x**2)


print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [88]:
## List Comprehension
[x**2 for x in range(10)] ## Example 1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## ## List Comprehension
Basic Syntax [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [93]:
## Basic list comprehension
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [96]:
## With conditions 
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)


print(lst)

[0, 2, 4, 6, 8]

In [102]:
## 

Even_nums=[num for num in range(10) if num%2==0]
print(Even_nums)

[0, 2, 4, 6, 8]

In [104]:
## Nested list comprehension

list1=[1,2,3,4]
list2=['a','b','c','d']

pair=[[i,j]for i in list1 for j in list2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [110]:
## List comprehension with function calls
words=["hello","world","python","is","Best"]
lengths=[len(word) for word in words]  # here we call length function
print(lengths)

[5, 5, 6, 2, 4]