## The map() Function in python

The map() funtion applies a given function to all items in an input list(or any other iterable) and returns a map objects(an iterator). This is particularly useful for transforming data in a list comprehensively.

In [2]:
def sqr(x):
    return x*x

sqr(10)

100

In [6]:
numbers=[1,2,3,4,5,6,7,8]
list(map(sqr,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
## Lambda function with map
number=[1,2,3,4,5,6,7,8]
list(map(lambda number:number*number,number))

[1, 4, 9, 16, 25, 36, 49, 64]

In [10]:
## Map multiple iterable
num1=[1,2,3]
num2=[4,5,6]

added_num=map(lambda x,y:x+y,num1,num2)
print(list(added_num))

[5, 7, 9]

In [13]:
## Map() to covert list of string to integer

num1=['1','2','3','4','5']
int_num=list(map(int,num1))
print(int_num)

[1, 2, 3, 4, 5]

In [14]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [15]:
## Apply map to dictionary
def get_name(name):
    return name['Name']

people=[
    {'Name':"omkar",'age':25},
    {'Name':"jack",'age':27}
]

list(map(get_name,people))

['omkar', 'jack']