Loops

1.for Loop
    i.Ietrating over a range
    ii.Iteratig over a string
2.while loop
3.loop control statements
    i.break
    ii.continue
    iii.pass

4.nested loops

In [1]:
range(5)

range(0, 5)

In [6]:
## for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:


for i in range(1,6):
    print(i)

1
2
3
4
5

In [15]:
range(1,10,1)  #start,stop is before give no,step

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [20]:
## All no between -1 to 10 and step size is -1
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [21]:
## String iteration
str="Omkar Dolas"

for i in str:
    print(i)

O
m
k
a
r

D
o
l
a
s

In [22]:
## while loop

## While loop continues to execcute as long as the conditionis true.

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [24]:
## Loop control statement 
## break
## the break statement  exits the loop permaturely

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [25]:
## Continue statement
## continue statemnt skip current statement and continues with the next.
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [29]:
## pass statement
## Pass sratement is a null operation and does nothing

for i in range(5):
    if i%2==0:
        pass
    print(i)

0
1
2
3
4

In [31]:
## nested loop
## Nested loop is loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [32]:
## Examples --calculate the sum of first N natural number using a while and for loop.

## while loop

n=10
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 Natural No:",sum)

Sum of first 10 Natural No: 55

In [33]:
## For loop

n = 10
count=1
sum=0

for i in range(11):
    sum=sum+i

print(sum)

55

In [43]:
## Example: Display the prime number between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
                print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97